---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Main.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { site } from "../data/site";
import HomeSection from "../components/HomeSection.astro";

const projects = await getCollection("projects");
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <img src={site.avatar} alt={site.pic_alt} class="rounded-full size-36" />
    <h1>
      {site.name}
    </h1>
    <p>{site.summary}</p>
  </section>

  <HomeSection title="Work" text="What I've built for clients and employers">
    test
  </HomeSection>

  <HomeSection
    title="Side projects"
    text="'Web things I've designed and built to solve my own problems or serve hobbies"
  >
    <ul>
      {
        projects.map((project) => (
          <li>
            <a href={`/projects/${project.id}`}>
              <h2>{project.data.title}</h2>
            </a>
            {/* <p>{project.description}</p> */}
          </li>
        ))
      }
    </ul>
  </HomeSection>
</Layout>
